<%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>

<%= render 'header' %>

<%= render 'loginform' %>

<%= render 'signupform' %>

<div style="background-image:url('/images/background1.jpg'); height:587px; padding-top: 60px">
    <div class="row-fluid">
    <div class="span6 offset1" style="margin-top:200px">
    <h3>Welcome to Make Your Shaadi.</h3>
	<h5>xxxxx xxxx xxxxx xxxxxxxxxx xxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxx.</h5>
    </div>
    </div>
</div>

<%= render 'footer' %>
